RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
#RewriteBase /
RewriteBase /~rpage/lsid-resolver-php/


#-----------------------------------------------------------------------------------------
# LSID 
RewriteRule ^(urn:.*)\.(\w+)$ ?lsid=$1&format=$2 [NC,L]
RewriteRule ^(urn:.*)$ ?lsid=$1 [NC,L]

